<% require 'pry' %>
<%= @registry.first_name %>
<%= @registry.last_name %>
<%= @registry.address %>
<%= @registry.address_line_2 %>
<%= @registry.city %>
<%= @registry.state %>
<%= @registry.zipcode %>
<%= @registry.country %>

<form action="/registries<%=@registry.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="text" name="first_name">
  <input type="text" name="last_name">
  <input type="text" name="address">
  <input type="text" name="address_line_2">
  <input type="text" name="city">
  <input type="text" name="state">
  <input type="text" name="zipcode">
  <input type="text" name="country">
  <input type="submit" id="submit">
</form>