<form action="/registries/<%=@registry.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  First Name: <input type="text" name="first_name" value ="<%= @registry.first_name %>"><br><br>
  Last Name: <input type="text" name="last_name" value ="<%= @registry.last_name %>"><br><br>
  Address: <input type="text" name="address" value ="<%= @registry.address %>"><br><br>
  Address Line 2: <input type="text" name="address_line_2" value ="<%= @registry.address_line_2 %>"><br><br>
  City: <input type="text" name="city" value ="<%= @registry.city %>"><br><br>
  State: <input type="text" name="state" value ="<%= @registry.state %>"><br><br>
  Zipcode: <input type="text" name="zipcode" value ="<%= @registry.zipcode %>"><br><br>
  Country: <input type="text" name="country" value ="<%= @registry.country %>"><br><br>
  <input type="submit" id="submit">
</form>