<% @registries.each do |registry| %>
    <%= registry.first_name %><br>
    <%= registry.last_name %><br>
    <%= registry.address %><br>
    <%= registry.address_line_2 %><br>
    <%= registry.city %><br>
    <%= registry.state %><br>
    <%= registry.zipcode %><br>
    <%= registry.country %><br>
    <a href="/registries/<%=registry.id%>/edit"><button>Edit information</button></a><br><br>

    <% end %> 