<header><img src="/images/Congrats.jpg" style="width:400px;height400px;"></header>
<h1>Welcome <%= @registry.first_name %>!</h1>

<h2>Congratulations! You are a registered voter:</h2>

    <%= @registry.first_name %> <%= @registry.last_name %><br> 
    <%= @registry.address %><br>
    <%= @registry.address_line_2 %><br>
    <%= @registry.city %><br>
    <%= @registry.state %><br>
    <%= @registry.zipcode %><br>
    <%= @registry.country %><br> 
    
    <a href="/registries/<%=@registry.id%>/edit"><button>Edit information</button></a><br><br>

    <form action="/registries/<%=@registry.id%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete"> 

</form> 